@media screen and (max-width: 600px){
    body{
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        position: fixed;    
}
/* logoSetting begin */
#top{
    width: 100%;
}
    .logo a img{
        width: 120px;
        height: auto;
    }
    .logo{
        margin-top: 10px;
        margin-left: 10px;
    }
    .settings{
        margin-left: 330px;
        margin-top: -35px;
    }
    .settings a i{
        color: #0D6A2F;
        font-size: 35px;
    }
    /* logoSettings eind */

    /* titelInfo begin */
    #middle{
        margin-top: 40px;
        text-align: center;
    }
    .title h1{
        color: #00FF33;
        font-size: 35px;
        font-weight: bold;
    }
    .info h3{
        color: #00FF33;
        line-height: 25px;
    }
    /* titelInfo eind */

    /* btn begin */
    .buttons{
        
        margin-top: 200px;
        position: absolute;

    }
    
    
    .play{
        border: 1.2px solid white;
        padding: 18px 40px;
        margin-left: 75%;
        background-color: white;
        color: #00FF33;
        text-decoration: none;
        border-radius: 10px;
        font-size: 30px;
        font-weight: bold;
       
    }
    .instructies{
        border: 1.2px solid white;
        padding: 7px 15px;
        margin-left: 75%;
        background-color: white;
        color: #00FF33;
        text-decoration: none;
        border-radius: 20px;
        font-size: 25px;
        font-weight: bold;
    }
    /* btn end */

    /* wave begin */
    .wave img{
        width: 100%;
        margin-top: 100px;
       
    }
  
   /* wave end */
}